body {
    padding: 0;
    margin: 0;
  }
  
  button {
    margin: 20px;
    padding: 16px;
    background-color: paleturquoise;
    border: 0;
    border-radius: 8px;
  }
  
  .wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 880px; /* Dimensions have to be fixed? */
    height: 880px;   
    border:1px solid black;
}
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-basis: calc(100% / var(--grid-size));
    flex-grow: 0;
  }
  